.navbar {
  height: 50px;
  display: flex;
  justify-content: right;
  padding: 10px 20px;
  align-items: center;
  gap: 15px;
}

.themeChangeBtn {
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeChangeBtn i {
  transition: all 0.2s;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
}

.themeChangeBtn i:hover {
  scale: 1.1;
  background-color: rgba(122, 122, 122, 0.2);
}

.welcome {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logoutBtn {
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
