.loadingScreen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.balls {
  display: flex;
}

.ball {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--color-2);
  margin-right: 10px;
  animation: ball 0.5s ease infinite alternate;
}

.ball.dark {
  background-color: var(--darkColor-2);
}

.ball2 {
  animation-delay: 0.1s;
}

.ball3 {
  animation-delay: 0.2s;
}

@keyframes ball {
  to {
    transform: translateY(-10px);
  }
}
