:root {
  --color-1: #fff5e4;
  --color-2: #850e35;
  --darkColor-1: #1b2430;
  --darkColor-2: #d6d5a8;

  --color-3: #ffc4c4;
  --color-4: #ee6983;
  --darkColor-3: #816797;
  --darkColor-4: #51557e;

  --color-5: #af0171;
  --color-6: #790252;
}
